/* Button */

.btn{
    display: inline-block;
    width: fit-content;
    padding: 0.6rem 1.2rem;
    background-color: var(--color-primary);
    border-radius: var(--card-border-radius-2);
    cursor: pointer;
    transition: var(--transition);
    color: var(--color-white);
}
/* End Button */

.btn.sm{
    padding: 0.3rem 0.7rem;
    font-size: 0.8rem;
}
.btn.danger{
    background: var(--color-red);
}

.btn.success{
    background: var(--color-green);
}

.btn:hover{
    background: var(--color-white);
    color: var(--color-bg);
}

/* Manage Category Post Dashboard */

.dashboard{
    margin-top: 10rem;
}

.dashboard__container{
    display: grid;
    grid-template-columns: 14rem auto;
    gap: 1rem;
    background: var(--color-gray-900);
    padding: 2rem;
    margin-top: 5rem;
}

.dashboard aside a{
    background: var(--color-primary);
    display: flex;
    gap: 1rem;
    align-items: center;
    padding: 1.6rem;
}

.dashboard aside ul l:not(:last-child) a{
    border-bottom: 1px solid var(--color-gray-900);
}
.dashboard aside a:hover{
    background: var(--color-gray-700);
}

.dashboard aside a.active{
    background-color: var(--color-gray-700);
}

/* Dashboard main section */

.dashboard main{
    margin-left: 1.5rem;

}
.dashboard main h2{
    margin: 0 0 2rem 0;
    margin-bottom: 2rem;
    line-height: 1;
}

.dashboard main table{
    width: 100%;
    text-align: center;
}
.dashboard main table th{
    background: var(--color-gray-700);
    padding: 0.8rem;
    color: var(--color-white);
}

.dashboard main table td{
    padding: 0.8rem;
    border-bottom: 1px solid var(--color-gray-200);
}

.dashboard main table tr:hover td{
    background-color: var(--color-bg);
    color: var(--color-white);
    cursor: default;
    transition: var(--transition);
}

/* sidebat toggle */

.sidebar__toggle{
    display: none;
}


/* Media Query */
@media screen and (max-width: 1024px) {

    .dashboard__container{
        grid-template-columns: 4rem auto;
        padding: 0;
        background: transparent;
    }
    .dashboard aside{
        /* background: var(--color-primary); */
    }

    .dashboard aside h5{
        display: none;
    }

    .dashboard main table thead{
        display: none;
    }
    .dashboard main table tr{
        display: flex;
        flex-direction: column;
    }
    .dashboard main table tr:nth-child(even){
        background: var(--color-gray-900);
    }

    .dashboard main table tr:hover td{
        background: transparent;
    };
  

}

/* Mobile Response */
@media screen and (max-width:600px) {

    .dashboard{
        margin-top: 5rem;
    }
    .dashboard__container{
        grid-template-columns: 1fr;
        gap: 0;
    }
    .dashboard main{
        margin: 0;
    }
    .dashboard main h2{
        margin-top: 1rem;
    }
    .dashboard aside{
        position: fixed;
        box-shadow: 2rem 0 4rem rgba(0,0,0,0.4);
        left: -100%;
        height: 100vh;
        transition: var(--transition);
        background: var(--color-primary);
    }
    .dashboard .sidebar__toggle{
        display: inline-block;
        background: var(--color-primary-variant);
        color: var(--color-white);
        position: fixed;
        right: 0;
        bottom: 4rem;
        z-index: 1;
        width: 2.5rem;
        height: 2.5rem;
        border-radius: 50% 0 0 50%;
        font-size: 1.3rem;
        cursor: pointer;
        box-shadow: -1rem 0 2rem rgba(0,0,0,0.4);
    }
    .dashboard aside a h5{
        display: inline-block;
    }

    #hide__sidebar-btn{
        display: none;
    }

}
