@import url("https://fonts.googleapis.com/css2?family=Barlow&family=Montserrat:wght@300;400;500;600;700;800&family=PT+Sans&family=Poppins:wght@300;400;500;600&family=Work+Sans:wght@300&display=swap");

:root {
  --color-primary: #6f6af8;
  --color-primary-variant: #5854c7;
  --color-primary-light: hsl(242, 91%, 69%, 18%);
  --color-red: #da0f3f;
  --color-red-light: hsl(346, 87%, 46%, 15%);
  --color-green: #00c476;
  --color-green-light: hsl(156, 100%, 38%, 15%);
  --color-gray-900: #1e1e66;
  --color-gray-700: #2d2d7c;
  --color-gray-300: rgba(242, 242, 254, 0.3);
  --color-gray-200: rgba(242, 242, 254, 0.7);
  --color-white: #f2f2fe;
  --color-bg: #0f0f3e;

  --transition: all 300ms ease;

  --container-width-lg: 74%;
  --container-width-md: 88%;

  --form-width: 60%;

  --card-border-radius-1: 0.3rem;
  --card-border-radius-2: 0.5rem;
  --card-border-radius-3: 0.8rem;
  --card-border-radius-4: 2rem;
  --card-border-radius-5: 5rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 0;
  border: 0;
  appearance: 0;
  list-style: none;
  text-decoration: none;
}

a {
  text-decoration: none;
}

body {
  font-family: "Montserrat" sans-serif;
  line-height: 1.6;
  color: var(--color-gray-200);
  overflow-x: hidden;
  background: var(--color-bg);
  font-size: 0.9rem;
}

.container {
  width: var(--container-width-lg);
  max-width: 1800px;
  margin-inline: auto;
}
section {
  margin-top: 3rem;
  width: 100vw;
}
h1,
h2,
h3,
h4,
h5 {
  color: var(--color-white);
  line-height: 1.3;
}
h1 {
  font-size: 3rem;
  margin: 1rem 0;
}
h2 {
  font-size: 1.7rem;
  margin: 1rem 0;
}
h3 {
  font-size: 1.1rem;
  margin: 0.8rem 0 0.5rem;
}
h4 {
  font-size: 1rem;
}
a {
  color: var(--color-white);
  transition: var(--transition);
}
img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/* End Main Project CSS */

.section__extra-margin{
  margin-top: 7rem;
}

/* ------------------------------------------------------------------ */

/* Start Nav Bar Style */

nav {
  background: var(--color-primary);
  width: 100%;
  height: 4.5rem;
  position: fixed;
  top: 0;
  z-index: 10;
  box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.2);
}
nav button {
  display: none;
}
.nav__container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.avatar {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  overflow: hidden;
  border: 0.2rem solid var(--color-bg);
}
.nav__logo {
  font-weight: 600;
  font-size: 1.2rem;
}
.nav__items {
  display: flex;
  align-items: center;
  gap: 4rem;
}
.nav__profile {
  position: relative;
  cursor: pointer;
}

.nav__profile ul {
  position: absolute;
  top: 140%;
  right: 0;
  display: flex;
  flex-direction: column;
  box-shadow: 0 3rem 3rem rgba(0, 0, 0, 0.4);
  background: var(--color-gray-900);
  visibility: hidden;
  opacity: 0;
  transition: var(--transition);
}
/* Show nav ul when nav profile is hover */
.nav__profile:hover > ul {
  visibility: visible;
  opacity: 1;
}
.nav__profile ul li a {
  padding: 1rem;
  background: var(--color-gray-900);
  display: block;
  width: 100%;
}

.nav__profile ul li:last-child a {
  background: var(--color-red);
  color: var(--color-bg);
}

/* End Nav Bar CSS */
/* ------------------------------------------------------------------ */

/* Feacture Blog page Css */

.category__button {
  background: var(--color-primary-light);
  color: var(--color-primary);
  display: inline-block;
  padding: 0.5rem 1rem;
  border-radius: var(--card-border-radius-2);
  font-size: 0.8rem;
  text-align: center;
  font-weight: 600;
}
.category__button:hover {
  color: var(--color-white);
}

/* End Feactureed */

/* ---------------------------------------------------------------- */
/* General Posts */
.post__thumnail {
  border-radius: var(--card-border-radius-5);
  border: 1rem solid var(--color-gray-900);
  overflow: hidden;
  margin-bottom: 1.6rem;
}
.post:hover .post__thumnail img {
  filter: saturate(0);
  transition: filter 500ms ease;
}
.post__author {
  display: flex;
  gap: 1rem;
  margin-top: 1.2rem;
}
.post__author-avatar {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: var(--card-border-radius-3);
  overflow: hidden;
}
/* End General Posts */

/* ----------------------------------------------------------------- */

/* Feactured */
.feactured {
  margin-top: 8rem;
}
.featured__container {
  display: grid;
  grid-template-columns: 1.2fr 0.8fr;
  gap: 3rem;
}

.post__container1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3rem;
  margin-bottom: 5rem;
}
/* End Feactured */

/* ----------------------------------------------------------------- */
/* Post Section */

.post__container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 3rem;
  margin-bottom: 5rem;
}

/* End Post Section */

/* ----------------------------------------------------------------- */
/* Category Section */

.category__buttons {
  padding: 4rem 0;
  border-top: 2px solid var(--color-gray-900);
  border-bottom: 2px solid var(--color-gray-900);
}
.category__buttons-container {
  width: fit-content;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 1rem;
}
/* End Category Section */

/* ----------------------------------------------------------------- */
/* Footer */

footer {
  background: var(--color-gray-900);
  padding: 5rem 0 0;
  box-shadow: inset 0 1.5rem rgba(0, 0, 0, 0.3);
}
.footer__socials {
  margin-inline: auto;
  width: fit-content;
  margin-bottom: 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1.2rem;
}
.footer__socials a {
  background: var(--color-bg);
  border-radius: 50%;
  width: 2.3rem;
  height: 2.3rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer__socials a:hover {
  background: var(--color-white);
  color: var(--color-bg);
}

.footer__container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
footer h4 {
  color: var(--color-white);
  margin-bottom: 0.6rem;
}
footer ul li {
  padding: 0.4rem;
}
footer ul a {
  opacity: 0.75;
}
footer ul a:hover {
  letter-spacing: 0.2rem;
  opacity: 1;
}

.footer__copyright {
  text-align: center;
  padding: 1rem 0;
  border-top: 2px solid var(--color-bg);
  margin-top: 4rem;
}
/* ----------------------------------------------------------------- */
/* ----------------------------------------------------------------- */
/* ----------------------------------------------------------------- */
/* Media Query */

/* Tablet Response */
@media screen and (max-width: 1024px) {
  /* general */
  .container {
    width: var(--container-width-md);
  }
  h2 {
    font-size: 1.6rem;
  }
  h3 {
    font-size: 1.2rem;
  }
  h5 {
    font-size: 0.8rem;
  }

  /* nav bar */
  nav button {
    display: inline-block;
    font-size: 1.5rem;
    background: transparent;
    color: var(--color-white);
    cursor: pointer;
  }
  nav button#close__nav-btn {
    display: none;
  }
  .nav__container {
    position: relative;
  }

  .nav__items {
    position: absolute;
    flex-direction: column;
    top: 100%;
    right: 0;
    width: 12rem;
    align-items: flex-start;
    justify-content: center;
    gap: 0;
    display: none;
    perspective: 400px;
  }
  .nav__items li {
    width: 100%;
    height: 4.5rem;
    display: flex;
    align-items: center;
    box-shadow: -2rem 3rem 7rem rgba(0, 0, 0, 0.7);
    background: var(--color-gray-900);
    border-top: 1px solid var(--color-bg);
    animation: animateDropdown 1s 0s ease forwards;
    opacity: 0;
    transform-origin: top;
  }

  .nav__items li:nth-child(2) {
    animation-delay: 200ms;
  }
  .nav__items li:nth-child(3) {
    animation-delay: 400ms;
  }
  .nav__items li:nth-child(4) {
    animation-delay: 600ms;
  }
  .nav__items li:nth-child(5) {
    animation-delay: 800ms;
  }
  .nav__items li:nth-child(6) {
    animation-delay: 1000ms;
  }

  /* Nav Drop Down Animation */

  @keyframes animateDropdown {
    0% {
      transform: rotateX(90deg);
    }
    100% {
      transform: rotateX(0deg);
      opacity: 1;
    }
  }

  .nav__items li a {
    border-radius: 0;
    width: 100%;
    width: 100%;
    background: var(--color-gray-900);
    padding: 0 2rem;
    display: flex;
    align-items: center;
  }
  .nav__profile {
    background: var(--color-gray-900);
  }
  .nav__profile li {
    top: 100%;
    width: 100%;
  }
  .nav__profile .avatar {
    margin-left: 2rem;
    border: 0;
  }

  /* feactured part response css */

  .featured__container {
    gap: 3rem;
  }
  .post__container {
    gap: 3rem;
    grid-template-columns: 1fr 1fr;
  }
  .footer__container {
    grid-template-columns: 1fr 1fr;
    text-align: center;
    align-items: center;
    gap: 2rem;
  }

  .category__buttons-container {
  }
}

/* Mobile Response */
@media screen and (max-width: 600px) {
  section {
    margin-top: 2rem;
  }
  h1 {
    font-size: 2rem;
  }
  .feactured {
    margin-top: 6rem;
  }
  .featured__container {
    grid-template-columns: 1fr;
    gap: 0;
  }

  .post__container {
    grid-template-columns: 1fr;
    gap: 0;
  }
  .category__buttons-container {
    grid-template-columns: 1fr 1fr;
  }
  .footer__container {
    grid-template-columns: 1fr;
    text-align: center;
    align-items: center;
    gap: 2rem;
  }
}
